@page "/Account/Lockout"

<PageTitle>Lock Out</PageTitle>

<section class="min-vh-100 bg-warning">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-3 mt-md-4 pb-5">
                            <h2 class="fw-bold mb-2 text-uppercase">Lockout</h2>
                            <p>this account has been lockout, please tray again later.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>