@page "/Inbox"

<PageTitle>Inbox</PageTitle>

<div class="container">

    <!-- Tasks list -->
    <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-action">
            <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckbox">
            <a style="text-decoration: none;" href="#">
                <span class="text-black">Third checkbox</span>
            </a>
            <div class="d-flex w-100 mt-1">
                <small class="text-secondary mx-1"> <i class="bi bi-calendar2"></i> Saturday </small>
                <small class="text-secondary mx-1"> <i class="bi bi-bell"></i> 17:23 </small>
                <small class="text-secondary mx-1"> <i class="bi bi-clock-history"></i> 2 h </small>
                <small class="text-secondary mx-1"> <i class="bi bi-sun-fill"></i></small>
            </div>
        </li>
        <li class="list-group-item list-group-item-action">
            <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckbox">
            <a style="text-decoration: none;" href="#">
                <span class="text-secondary"><del>Third checkbox</del></span>
            </a>
            <div class="d-flex w-100 mt-1">
                <small class="text-secondary mx-1"> <i class="bi bi-calendar2"></i> Saturday </small>
                <small class="text-secondary mx-1"> <i class="bi bi-bell"></i> 17:23 </small>
                <small class="text-secondary mx-1"> <i class="bi bi-clock-history"></i> 2 h </small>
            </div>
        </li>
        <li class="list-group-item list-group-item-action">
            <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckbox">
            <a style="text-decoration: none;" href="#">
                <span class="text-black">Third checkbox</span>
            </a>
            <div class="d-flex w-100 mt-1">
                <small class="text-secondary mx-1"> <i class="bi bi-calendar2"></i> Saturday </small>
                <small class="text-secondary mx-1"> <i class="bi bi-bell"></i> 17:23 </small>
                <small class="text-secondary mx-1"> <i class="bi bi-clock-history"></i> 2 h </small>
            </div>
        </li>
        <li class="list-group-item list-group-item-action">
            <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckbox">
            <a style="text-decoration: none;" href="#">
                <span class="text-black">Third checkbox</span>
            </a>
            <div class="d-flex w-100 mt-1">
                <small class="text-secondary mx-1"> <i class="bi bi-calendar2"></i> Saturday </small>
                <small class="text-secondary mx-1"> <i class="bi bi-bell"></i> 17:23 </small>
                <small class="text-secondary mx-1"> <i class="bi bi-clock-history"></i> 2 h </small>
            </div>
        </li>
        <li class="list-group-item list-group-item-action">
            <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckbox">
            <a style="text-decoration: none;" href="#">
                <span class="text-black">Third checkbox</span>
            </a>
            <div class="d-flex w-100 mt-1">
                <small class="text-secondary mx-1"> <i class="bi bi-calendar2"></i> Saturday </small>
                <small class="text-secondary mx-1"> <i class="bi bi-bell"></i> 17:23 </small>
                <small class="text-secondary mx-1"> <i class="bi bi-clock-history"></i> 2 h </small>
            </div>
        </li>
        <li class="list-group-item list-group-item-action">
            <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckbox">
            <a style="text-decoration: none;" href="#">
                <span class="text-black">Third checkbox</span>
            </a>
            <div class="d-flex w-100 mt-1">
                <small class="text-secondary mx-1"> <i class="bi bi-calendar2"></i> Saturday </small>
                <small class="text-secondary mx-1"> <i class="bi bi-bell"></i> 17:23 </small>
                <small class="text-secondary mx-1"> <i class="bi bi-clock-history"></i> 2 h </small>
            </div>
        </li>
        <li class="list-group-item list-group-item-action">
            <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckbox">
            <a style="text-decoration: none;" href="#">
                <span class="text-black">Third checkbox</span>
            </a>
            <div class="d-flex w-100 mt-1">
                <small class="text-secondary mx-1"> <i class="bi bi-calendar2"></i> Saturday </small>
                <small class="text-secondary mx-1"> <i class="bi bi-bell"></i> 17:23 </small>
                <small class="text-secondary mx-1"> <i class="bi bi-clock-history"></i> 2 h </small>
            </div>
        </li>
        <li class="list-group-item list-group-item-action">
            <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckbox">
            <a style="text-decoration: none;" href="#">
                <span class="text-black">Third checkbox</span>
            </a>
            <div class="d-flex w-100 mt-1">
                <small class="text-secondary mx-1"> <i class="bi bi-calendar2"></i> Saturday </small>
                <small class="text-secondary mx-1"> <i class="bi bi-bell"></i> 17:23 </small>
                <small class="text-secondary mx-1"> <i class="bi bi-clock-history"></i> 2 h </small>
            </div>
        </li>
        <li class="list-group-item list-group-item-action">
            <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckbox">
            <a style="text-decoration: none;" href="#">
                <span class="text-black">Third checkbox</span>
            </a>
            <div class="d-flex w-100 mt-1">
                <small class="text-secondary mx-1"> <i class="bi bi-calendar2"></i> Saturday </small>
                <small class="text-secondary mx-1"> <i class="bi bi-bell"></i> 17:23 </small>
                <small class="text-secondary mx-1"> <i class="bi bi-clock-history"></i> 2 h </small>
            </div>
        </li>
        <li class="list-group-item list-group-item-action">
            <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckbox">
            <a style="text-decoration: none;" href="#">
                <span class="text-black">Third checkbox</span>
            </a>
            <div class="d-flex w-100 mt-1">
                <small class="text-secondary mx-1"> <i class="bi bi-calendar2"></i> Saturday </small>
                <small class="text-secondary mx-1"> <i class="bi bi-bell"></i> 17:23 </small>
                <small class="text-secondary mx-1"> <i class="bi bi-clock-history"></i> 2 h </small>
            </div>
        </li>
        <li class="list-group-item list-group-item-action">
            <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckbox">
            <a style="text-decoration: none;" href="#">
                <span class="text-black">Third checkbox</span>
            </a>
            <div class="d-flex w-100 mt-1">
                <small class="text-secondary mx-1"> <i class="bi bi-calendar2"></i> Saturday </small>
                <small class="text-secondary mx-1"> <i class="bi bi-bell"></i> 17:23 </small>
                <small class="text-secondary mx-1"> <i class="bi bi-clock-history"></i> 2 h </small>
            </div>
        </li>
        <li class="list-group-item list-group-item-action">
            <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckbox">
            <a style="text-decoration: none;" href="#">
                <span class="text-black">Third checkbox</span>
            </a>
            <div class="d-flex w-100 mt-1">
                <small class="text-secondary mx-1"> <i class="bi bi-calendar2"></i> Saturday </small>
                <small class="text-secondary mx-1"> <i class="bi bi-bell"></i> 17:23 </small>
                <small class="text-secondary mx-1"> <i class="bi bi-clock-history"></i> 2 h </small>
            </div>
        </li>
    </ul>

    <hr />
</div>

<!--Add Task Button-->
<a href="/AddTask"
        class="btn btn-primary btn-add btn-floating btn-lg">
    <i class="bi bi-plus"></i>
</a>