@page "/register"
@layout Layout.EmptyLayout
@inject NavigationManager NavigationManager
@inject IUserService UserService
@rendermode InteractiveServer

<section class="vh-auto gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-3 mt-md-4 pb-5">
                            <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
                            <p class="text-black-50 mb-5">Please enter your information!</p>

                            <EditForm method="post" EditContext="editContext" OnValidSubmit="Submit" Enhance>
                                    
                                <DataAnnotationsValidator/>

                                <div class="text-start mb-4">
                                    <label class="form-label" for="name">Name</label>
                                    <InputText @bind-Value="ViewModel!.Name" id="name" class="form-control"/>
                                    <ValidationMessage For="() => ViewModel!.Name" class="text-danger" />
                                </div>

                                <div class="text-start mb-4">
                                    <label class="form-label" for="userName">Username</label>
                                    <InputText @bind-Value="ViewModel!.Username" id="userName" class="form-control" required/>
                                    <ValidationMessage For="() => ViewModel!.Username" class="text-danger" />
                                </div>

                                <div class="text-start mb-4">
                                    <label class="form-label" for="password">Password</label>
                                    <InputText type="password" @bind-Value="ViewModel!.Password" id="password" class="form-control" required />
                                    <ValidationMessage For="() => ViewModel!.Password" class="text-danger" />
                                </div>


                                <div class="text-start mb-4">
                                    <label class="form-label" for="confirmation">Confirmation</label>
                                    <InputText type="password" @bind-Value="ViewModel!.Confirmation" id="confirmation" class="form-control" required />
                                    <ValidationMessage For="() => ViewModel!.Confirmation" class="text-danger" />
                                </div>

                                <button class="btn btn-outline-dark btn-lg px-5" type="submit">Register</button>

                            </EditForm>

                        </div>

                        <div>
                            <p class="mb-0">
                                Already have an account? <a href="/login" class="text-balck-50 fw-bold">Sign In</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@code {
    [SupplyParameterFromForm]
    public RegisterViewModel ViewModel { get; set; }

    private EditContext? editContext;
    private ValidationMessageStore? messageStore;

    protected override void OnInitialized()
    {
        ViewModel ??= new();
        editContext = new(ViewModel);
        editContext.OnValidationRequested += HandleValidationRequested;
        messageStore = new(editContext);
    }

    public void HandleValidationRequested(object? sender, ValidationRequestedEventArgs e)
    {
        messageStore.Clear();

        if (UserService.UsernameExist(ViewModel.Username))
        {
            messageStore?.Add(() => ViewModel.Username, "This username already exist");
        }
    }

    private void Submit()
    {

        int result = UserService.RegisterUser(ViewModel);

        NavigationManager.NavigateTo("/login");
    }

    public void Dispose()
    {
        if (editContext is not null)
        {
            editContext.OnValidationRequested -= HandleValidationRequested;
        }
    }
}
